@import '../../../../styles/Variables.scss';

.js-feed-commentYJ {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.js-feed-commentYJ span:first-of-type {
  margin-right: 5px;
  font-weight: 600;
}

.js-feed-commentYJ span:nth-of-type(2) {
  width: 80%;
}

.js-comment-btnsYJ {
  @extend %flex-center;
}

.js-comment-btnYJ {
  all: unset;
  margin-left: 10px;
}
