@import '../../../../styles/kwonojae/common.scss';

.feeds {
  @extend .flexCS;
  align-items: flex-end;
  article {
    width: 600px;
    margin-right: 20px;
    border: $border1;
    .feedHeader {
      @extend .flexRB;
      align-items: center;
      width: 600px;
      height: 60px;
      padding: 16px;
      background-color: $white;
      .writer {
        @extend .flexR;
        align-items: center;
        img {
          width: 32px;
          border-radius: 50%;
        }
        h5 {
          margin: 0px 0px 0px 10px;
        }
      }
      button {
        background-color: $white;
        border: none;
      }
    }
    .feedImage {
      img {
        padding: 0px;
        width: 600px;
        height: 600px;
      }
    }

    .feedBottomBox {
      width: 600px;
      background-color: $white;
      .feedButtons {
        @extend .flexRB;
        align-items: center;
        margin: 0px;
        padding: 0px 12px;
        width: 600px;
        height: 40px;
        background-color: $white;
        div {
          button {
            @extend .button;
          }
        }
        button {
          @extend .button;
        }
      }
      .feedLike {
        width: 600px;
        height: 18px;
        margin: 6px 0px 0px 0px;
        padding: 0px 0px 0px 16px;
        background-color: $white;
        button {
          @extend .unset;
        }
      }
      .feedText {
        padding: 0px 16px;
        margin: 10px 0px 0px 0px;
        width: 600px;
        background-color: $white;
        button {
          @extend .unset;
        }
      }
      .feedComment {
        padding: 0px 16px;
        button {
          @extend .unset;
        }
      }
      .feedTime {
        width: 600px;
        margin: 12px 0px 0px 0px;
        padding: 0px 16px;
        background-color: $white;
      }
    }
    div {
      .writeHereComment {
        @extend .flexRB;
        width: 600px;
        height: 56px;
        margin: 12px 0px 0px 0px;
        padding: 0px 16px;
        background-color: $white;
        border-top: $border1;
        .fa-smile {
          font-size: 24px;
        }
        input {
          width: 80%;
          height: 100%;
          background-color: $white;
          border: none;
        }
        button {
          @extend .unset;
        }
      }
    }
  }
}
