@import '../../../../styles/variable.scss';

.recommendProfileOJ {
  @include flexSet(row, start);
  width: 300px;
  margin: 16px 0 0;
  background-color: $white;

  img {
    width: 32px;
    border-radius: 50%;
  }

  dl {
    width: 210px;
    margin: 0 0 0 20px;
    font-size: 14px;
  }

  button {
    @extend .unset;
    color: $activeBtnCol;
    font-size: 12px;
  }
}
