.main_right {
    width: 310px;
    display: inline-block;
    position: fixed;
    top: 94px;
}


.myProfile {
    height: 56px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}


.myProfile img {
    width: 56px;
    height: 56px;
}


.myProfile div {
    display: inline-block;
    margin-left: 14px;
}


.myProfile div span {
    display: block;
}


.myProfile div span.userID {
    margin-bottom: 4px;
}



.menu_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}


.sub_title {
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}


.find_more {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}


.story_list li, .recommend_list li {
    display: flex;
    align-items: flex-start;
}


ul.story_list img.story {
    box-sizing: content-box;
    border: 2px solid #fff;
}


div.gradient_wrap {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}


ul.story_list .profile_text {
    margin-top: 3px;
}


.profile_text {
    display: inline-block;
    margin: 0 0 10px 8px;
}


.profile_text span {
    display: block;
}


.profile_text span.userID {
    margin-bottom: 2px;
}