$main-padding: 14px;
$comment-fontsize: 13px;
$aside-fontsize: 12px;
$border-color: #e6e6e6;
$blue: #0095f6;
$sub-text-gray: #8e8e8e;
$lightgray: #fafafa;
$facebook-blue: #385185;
$border-gray-style: 1px solid #dbdbdb;
$border-gray: #dbdbdb;
$boderCol1: #dbdbdb;
$inputBgCol1: #fafafa;
$white: white;
$activeBtnCol: #0095f6;
$passiveBtnCol: #c4e1fb;
$fotgetPW: #00376b;
$border1: 1px solid #dbdbdb;

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.grey {
  color: grey;
}

.blue {
  color: blue !important;
}

.red {
  color: red;
}

.hide {
  visibility: hidden;
}

.unset {
  all: unset;
}

.border1 {
  border: 1px solid #dbdbdb;
}

.flexR {
  display: flex;
  flex-direction: row;
}

.flexCS {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.flexRS {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.flexRB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fixedTR {
  position: fixed;
  right: 0;
  top: 0;
}

.button {
  background-color: $white;
  border: none;
  font-size: 24px;
}
