/* header-nav */

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-white);
  z-index: 100;
  top: 0;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 15px 0 15px;
  max-width: 1200px;
}

.headerNavLeftSideImg {
  width: 30px;
}

.headerNavLeftSideImg {
  margin-right: 7px;
}

.headerNavLeftSide {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
}

.headerNavLeftSideTitle {
  &::before {
    display: inline;
    width: 10px;
    height: 20px;
    border-left: 1px solid var(--color-black);
    margin-right: 10px;
    content: ' ';
  }
}

.headerNavLeftSideTitle {
  color: var(--color-black);
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 23px;
}

.headerNavCenter {
  position: relative;

  .fa-search {
    position: absolute;
    left: 30%;
    top: 30%;
    color: var(--color-border);
  }
}

.headerNavCenter .headerNavInput {
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}

.headerNavRightSide {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.headerNavRightSide button:nth-child(2),
.headerNavRightSide button:last-child {
  background-color: transparent;
  cursor: pointer;
}

.headerNavRightSideImg1,
.headerNavRightSideImg2,
.headerNavRightSideImg3 {
  width: 30px;
}
