@import './_variables.scss';
@import './reset.scss';
@import '../../pages/leejiyon/Components/Nav.scss';
@import '../../pages/leejiyon/Main/Components/Article.scss';
@import '../../pages/leejiyon/Main/Components/Aside.scss';
@import '../../pages/leejiyon/Main/Components/AsideContainer.scss';
@import '../../pages/leejiyon/Main/Components/MainSection.scss';

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}
.grey {
  color: grey;
}
.blue {
  color: blue !important;
}
.red {
  color: red;
}
.hide {
  visibility: hidden;
}
