@import '/src/styles/Variables.scss';

.MainSectionJY {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
  background-color: #fafafa;

  @media screen and (max-width: 1000px) {
    .MainSection aside {
      display: none;
    }
  }

  .feeds {
    width: 614px;
    margin-top: 50px;
  }
}
