@import '/src/styles/variables.scss';

.ProfileList {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: $main-padding;

  img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }

  img::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    border: 1px solid red;
  }
}
