@import 'Reset.scss';
@import 'Variables.scss';

/* screens */
@import '../../pages/Home.scss';
@import '../../pages/limyujin/Login/Login.scss';
@import '../../pages/limyujin/Main/Main.scss';

/* components */
@import '../../pages/limyujin/Main/Components/CircleProfile.scss';
@import '../../pages/limyujin/Main/Components/Feeds.scss';
@import '../../pages/limyujin/Main/Components/Footer.scss';
@import '../../pages/limyujin/Main/Components/MainRight.scss';
@import '../../pages/limyujin/Main/Components/Modal.scss';
@import '../../pages/limyujin/Main/Components/TopNav.scss';
@import '../../pages/limyujin/Main/Components/CommentColumn.scss';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background-color: $lightgray;
  line-height: 18px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

button:hover {
  cursor: pointer;
}

//mixin은 최대한 쓰지 않는게 좋다고 함. 여러 문제를 일으킴
// @mixin flexSet($just: center, $align: center) {
//   display: flex;
//   justify-content: $just;
//   align-items: $align;
// }

// @mixin flexColumnSet($just: center, $align: center) {
//   display: flex;
//   flex-direction: column;
//   justify-content: $just;
//   align-items: $align;
// }

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모바일 */
@media screen and (max-width: 414px) {
  main {
    margin-top: 70px;
  }
}
